<%- include('_head') %>
<%- include('_header') %>

<main>
    <h1>Categories</h1>
    <section class="cards categories-card">
        <% for (category of categories) { %>
            <article class="card category-card">
                <a class="card-image" href="/quizz/<%= category.id_categorie %>">
                    <img src="/assets/img/<%= category.image %>" alt="<%= category.nom_categorie %>">
                    <h2 class="card-title"><%= category.nom_categorie %></h2>
                </a>
            </article>
        <% } %>
    </section>
</main>

<%- include('_footer') %>