<%- include('_head') %>
<%- include('_header') %>

<main>
    <h1><%= category %></h1>
    <section class="cards quizz-cards">
        <% for (q of quizz) { if (q.id_quizz) { %>
            <article class="card quizz-card">
                <a href="/quizz/<%= q.id_categorie %>/<%= q.id_quizz %>">
                    <img src="/assets/img/<%= q.image %>" alt="<%= q.nom_quizz %>">
                    <h2><%= q.nom_quizz %></h2>
                </a>
            </article>
        <% }} %>
    </section>
</main>

<%- include('_footer') %>