<%- include('_head') %>
<%- include('_header') %>

<main>
    <h1><%= category %></h1>
    <section class="cards quizz-cards">
        <% for (quizz of cat) { if (quizz.id_quizz) { %>
            <article class="card quizz-card">
                <a class="card-image" href="/jeu/<%= quizz.id_categorie %>/<%= quizz.id_quizz %>">
                    <img src="/assets/img/quizz/<%= quizz.q_img %>" alt="<%= quizz.nom_quizz %>">
                    <h2 class="card-title"><%= quizz.nom_quizz %></h2>
                </a>
                <div class="card-text">
                    <a href="/classement/<%= quizz.id_quizz %>">Voir le classement</a>
                    <span>par <%= quizz.user_name %></span>
                </div>
            </article>
        <% }} %>
    </section>
</main>

<%- include('_footer') %>