<%- include('_head') %> <%- include('_header') %>

<main>
  <h1>Quizz Name</h1>
  <section id="quizz_rank_top3">
    <% console.log(scores) %>
    <div id="rank2">
      <span class="player_name_rank2"><%= scores[1].user_name %> </span>
      <img src="/assets/img/avatars/<%= scores[1].filename %> " alt="" />
      <span class="rank2">2</span>
      <span class="player_rank2_pts"><%= scores[1].score %>pts </span>
    </div>

    <div id="rank1">
      <span class="player_name_rank1"><%= scores[0].user_name %> </span>
      <img src="/assets/img/avatars/<%= scores[0].filename %> " alt="" />
      <span class="rank1">1</span>
      <span class="player_rank1_pts"><%= scores[0].score %>pts </span>
    </div>

    <div id="rank3">
      <span class="player_name_rank3"><%= scores[2].user_name %> </span>
      <img src="/assets/img/avatars/<%= scores[2].filename %> " alt="" />
      <span class="rank3">3</span>
      <span class="player_rank3_pts"><%= scores[2].score %>pts </span>
    </div>
  </section>
  <% if(scores.length > 3 || locals.session.id_user === undefined) { %>
  <section id="rank4_and_more">

    <% if(locals.session.id_user !== undefined) { %>

    <div class="ranking_table mon_score">
      <span class="other_rank">Mon score</span>
      <span class="other_rank_name_player"><%= scores[3].user_name %> </span>
      <span class="other_rank_pts"><%= scores[3].score %>pts</span>
    </div>
    <% } else { %>
    <div class="ranking_table mon_score">
      <span class="other_rank">Mon score</span>
      <span class="other_rank_name_player">Utilisateur non connecté</span>
      <span class="other_rank_pts"><%= score %>pts</span>
    </div>
    <% } %>
  </section>
  <% } %>
</main>

<%- include('_footer') %>
