<%- include('../_head') %>
<%- include('../_header') %>

<main
    id="create-quizz"
    data-quizz="<%= quizz.id_quizz %>"
    data-user="<%= locals.session.id_user %>"
    >
    <h1>Modifier le quizz <%= quizz.nom_quizz %></h1>
    <section>
        <div class="head">
            <blockquote class="question" contenteditable data-placeholder="Écrivez votre question ici"></blockquote>
            <span class="counter">12/15</span>
        </div>
        <div class="bottom">
            <div class="reponses">
                <div class="row">
                    <button class="reponse">
                        <i></i><p contenteditable data-placeholder="Écrivez une réponse ici"></p>
                    </button>
                    <div class="checkbox"></div>
                </div>
                <div class="row">
                    <button class="reponse">
                        <i></i><p contenteditable data-placeholder="Écrivez une réponse ici"></p>
                    </button>
                    <div class="checkbox"></div>
                </div>
                <div class="row">
                    <button class="reponse">
                        <i></i><p contenteditable data-placeholder="Écrivez une réponse ici"></p>
                    </button>
                    <div class="checkbox"></div>
                </div>
            </div>
            
            <aside>
                <button id="remove">Supprimer la question<img src="/assets/img/trash.svg"></button>
                <button id="next">Question suivante<img src="/assets/img/arrow-right.svg"></button>
                <button id="prev">Question précédente<img src="/assets/img/arrow-left.svg"></button>
                <button id="validate">Valider le questionnaire<img src="/assets/img/w-check.svg"></button>
            </aside>
        </div>
    </section>
</main>

<script src="/assets/js/crud-quizz.js"></script>

<%- include('../_footer') %>