<%- include('../_head') %>
<%- include('../_header') %>

<main>
    <h1 class="classement_title"><%= quizz.nom_quizz %></h1>
    
    <section id="quizz_rank_top3">
        <% if(scores[1]) { %>  
        <div id="rank2">
            <span class="player_name_rank2"><%= scores[1].user_name %> </span>
            <img src="/assets/img/avatars/<%= scores[1].filename %> " alt="">
            <span class="rank2">2</span>
            <span class="player_rank2_pts"><%= scores[1].score %>pts </span>
        </div>
        <% } if(scores[0]) { %> 
        <div id="rank1">
            <span class ="player_name_rank1"><%= scores[0].user_name %></span>
            <img src="/assets/img/avatars/<%= scores[0].filename %> " alt="">
            <span class="rank1">1</span>
            <span class = player_rank1_pts><%= scores[0].score %>pts </span>
        </div>
        <% } if(scores[2]) { %> 
        <div id="rank3">
            <span class="player_name_rank3"><%= scores[2].user_name %> </span>
            <img src="/assets/img/avatars/<%= scores[2].filename %> " alt="">
            <span class = "rank3">3</span>
            <span class = "player_rank3_pts"><%= scores[2].score %>pts </span>
        </div>      
        <% } %>   
    </section>
    <!--  ranking table  -->
    <% if(scores.length > 3) {
        for(let i = 3; i < scores.length; i++) {%>
        
    <section id="rank4_and_more">
        <div class="ranking_table">
            <span class= " other_rank"><%=i+1 %> </span>
            <span class="other_rank_name_player"><%= scores[i].user_name %></span>
            <span class="other_rank_pts"><%= scores[i].score %>pts </span>
        </div>
        <%}
        } %>
       
    </section>
</main>

<script src="/assets/js/classement.js"></script>
<%- include('../_footer') %>