<%- include('../_head') %>
<%- include('../_header') %>

<main id="quizz">
  <section class="chrono">3</section>
  <section class="game">
    <div class="quizz-title">
      <span class="counter">01/<%= locals.session.MIN_QUESTIONS %></span>
      <h1><%= quizz.nom_quizz %></h1>
      <span class="timer">30s</span>
    </div>

    <blockquote
      class="question"
      data-quizz="<%= quizz.id_quizz %>"
      data-user="<%= locals.session.id_user %> "
    >
      Lörem ipsum deciskap kvasisose. Krogisk pagen ?
    </blockquote>
    <div class="reponses">
      <div class="reponse true">
        <i></i>Lörem ipsum jonathan Hellström kartad: än tvodd. Gunnar Olsson
        Gustaf Blom.
      </div>
      <div class="reponse false">
        <i></i>Lörem ipsum jonathan Hellström kartad: än tvodd. Gunnar Olsson
        Gustaf Blom.
      </div>
      <div class="reponse">
        <i></i>Lörem ipsum jonathan Hellström kartad: än tvodd. Gunnar Olsson
        Gustaf Blom.
      </div>
    </div>
    <div class="next">
      <button class="btn_next">Question suivante</button>
    </div>
    <script src="/assets/js/quizz.js"></script>
  </section>
</main>

<%- include('../_footer') %>
